@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Press+Start+2P&display=swap');

:root {
    --heading-font: "Press Start 2P", serif;
    --main-font: "Lexend Giga", serif;
}

body {
    font-family: "Patrick Hand", serif;
}

h1,
h2 {
    font-family: var(--heading-font);
}

main {
    background-color: #263b44;
}

label {
    font-family: var(--heading-font);
}

option {
    font-size: xx-large;
}

#incorrect,
#correct {
    display: table;
    margin: 0 auto;

}

#right,
#next,
#wrong,
#reset {
    font-size: xx-large;
}

#correct {
    width: 30%; 
}

#next-container {
    margin: 5%;
}


#wrong {
    color: red;
}

.bird-col {
    padding-top: 15%;
}

.hidden {
    display: none;
}

.navbar {
    background-color: #394a46;
}

#start,
#submit {
    background-color: #a5aeb6;
    color: black;
    font-family: var(--heading-font);
    font-size: xx-large;
}

#record-message-port,
#record-message-star {
    margin-top: 10%;
    color: white;
}